

<form asp-action="searchResult" asp-controller="search" method="post">
    <div class="input-group">
        <input type="text" class="form-control" required placeholder="Поиск" aria-label="Поиск" aria-describedby="button-addon2" name="searchText">
        <button class="btn btn-outline-secondary header__btn-search" type="submit" id="button-addon2">Найти</button>
    </div>
</form>