@{
    ViewData["Title"] = "Администратор";
}

<div class="container col-10 mt-4">
    <div class="row adminMain">
        <div class="col">
            <a class="adminMain__nav-item" href="/AdministratorOrders/AdministratorOrders">
                <div class="h-100 align-middle adminMain__section">Заказы</div>
            </a>
        </div>
        <div class="col">
              <a class="adminMain__nav-item" href="/AdministratorCategories/AdministratorCategories">
                <div class="h-100 align-middle adminMain__section">Категории</div>
            </a>
        </div>
        <div class="col">
             <a class="adminMain__nav-item" href="/AdministratorUsers/AdministratorUsers">
                <div class="h-100 align-middle adminMain__section">Пользователи</div>
            </a>
        </div>
        <div class="col">
             <a class="adminMain__nav-item" href="/AdministratorManufacturers/AdministratorManufacturers">
                <div class="h-100 align-middle adminMain__section">Производители</div>
            </a>
        </div>
        <div class="col">
             <a class="adminMain__nav-item" href="/AdministratorProducts/AdministratorProducts">
                <div class="h-100 align-middle adminMain__section">Товары</div>
            </a>
        </div>
    </div>
    
    
</div>

