@media (min-width: 992px) and (max-width: 1200px) {
    .catalog__product-card {       
        font-size: 1vw !important;
    }

    .catalog__name-product {
        font-size: 1.5vw !important;
        height: 6vw !important;
    }

    .catalog__product-image {
        height: 12vw !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .catalog__product-card {        
        font-size: 1.3vw !important;
    }
    .catalog__name-product {
        font-size: 1.8vw !important;
        height: 6vw !important;
    }
    .catalog__product-image {
        height: 15vw !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .catalog__product-card {        
        font-size: 2vw !important;
    }

    .catalog__name-product {
        font-size: 2.5vw !important;
        height: 8vw !important;
    }

    .catalog__product-image {
        height: 20vw !important;
    }
}

@media (max-width: 576px){
    .catalog__product-card {       
        font-size: 4vw !important;
    }
    .catalog__name-product {
        font-size: 4vw !important;
        height: 8vw !important;
    }

    .catalog__product-image {
        height: 35vw !important;
    }
}



.catalog__product-card {
    color: #8364AD !important;
    border: 2px solid #8364AD;
    border-radius: 10px; 
    font-size: 1vw;
}

    .catalog__product-card:hover {
        transform: translate3d(-5px,-5px,5px);
        box-shadow: 5px 5px 15px #8364AD;
    }
.catalog__nav-product {
    color: #8364AD;
    text-decoration:none;
}
    .catalog__nav-product:hover {
        color: #8364AD;
    }

    .catalog__btn-inbasket {
        color: #8364AD !important;
        font-weight: bold;
        border: 2px solid #8364AD;
        border-radius: 5px;
    }

    .catalog__btn-inbasket:hover {
        color: white !important;
        background-color: #8364AD;
    }

.catalog__name-product {
    color: #000000;
    height: 6vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.catalog__old-price {
    text-decoration: line-through;
    color: #808080;
}
.catalog__sales-price {
    font-size:larger;
    font-weight:bold;
    color: #000000;
}

.catalog__product-image {
    width: 100%;
    height: 10vw;
    object-fit: contain;
}
