@media (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 1.6vw !important;
    }

    .header__name-store {
        font-size: 5vw !important;
    }

    .header__btn-dropdown {
        width: 17vw !important;
    }

    .header__btn-search {
        width: 10vw !important;
    }

    .input-group {
        width: 65vw !important;
    }

    .map_frame {
        width: 90vw !important;
        height: 90vw !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 2vw !important;
    }

    .header__name-store {
        font-size: 6vw !important;
    }

    .header__btn-dropdown {
        width: 17vw !important;
    }

    .header__btn-search {
        width: 10vw !important;
    }

    .input-group {
        width: 65vw !important;
    }

    .map_frame {
        width: 90vw !important;
        height: 90vw !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    html {
        font-size: 2.5vw !important;
    }

    .header__name-store {
        font-size: 7vw !important;
    }

    .header__btn-dropdown {
        width: 17vw !important;
    }

    .header__btn-search {
        width: 10vw !important;
    }   

    .input-group {
        width: 65vw !important;
    }

    .map_frame {
        width: 90vw !important;
        height: 90vw !important;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 3vw !important;
    }

    .header__name-store {
        font-size: 8vw !important;
    }

    .header__btn-dropdown {
        width: 17vw !important;
    }

    .header__btn-search {
        width: 15vw !important;
    }    

    .input-group {
        width: 70vw !important;
    }

    .map_frame {
        width: 90vw !important;
        height: 90vw !important;
    }
}



html {
    position: relative;
    min-height: 100%;
    font-size: 1.2vw;
}

body {
    background: url(../images/main10.jpg);
    margin-bottom: 60px;
}

.header__nav-item {
    margin-right: 2%;
    margin-top: 0.5%;
    white-space: nowrap;
    color: #8364AD !important;
    font-weight: bold;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #8364AD;
}
    .header__nav-item:hover {
        color: white !important;
        background-color: #8364AD;
    }

.header__name-store {
    color: #8364AD !important;
    font-weight: bold;
    font-size: 2vw;
}

.header__btn-dropdown {
    color: white;
    background-color: #8364AD;
    border-radius: 5px;
}
    .header__btn-dropdown:hover {
        color: white;
        box-shadow: 0px 0px 15px #8364AD;
    }

.header__btn-search {
    color: #8364AD !important;
}

    .header__btn-search:hover {
        color: white !important;
        background-color: #8364AD;
    }

.header__dropdown-menu {
    color: white;
    background-color: #8364AD;
}


.header__dropdown-item {
    color: white !important;
}
    .header__dropdown-item:hover {
        color: #8364AD !important;
    }

.footer__nav-item {
    color: #8364AD !important;
}

.uncorrectValue {
    border-width: 2px;
    border-color: red;
    box-shadow: 0px 0px 15px red;
}

.ErrorMessage {
    color:#ffd800;
    font-weight:bold;
}

.ErrMessage {
    color: red;
    font-weight: bold;
}

.map_frame {
    width: 50vw;
    height: 30vw;
}
