
@{
    ViewData["Title"] = "Контакты";
}

<div class="mt-4">
    <p class="h2 contacts__header">Свяжитесь с нами</p>
    <hr />
    <p class="h4 contacts__phone">  <span style="color:#8364AD">Телефон:</span> 333-444-22</p>
    <p class="h4 contacts__email">  <span style="color:#8364AD">Email:</span> OnlineShop@yandex.ru</p>
</div>

