
@{
    ViewData["Title"] = "Оплата";
}

<div class="mt-4">
    <p class="h2 contacts__header">Оплата</p>
    <hr />
    <p class="h4 contacts__phone">На данный момент оплата за товары доступна наличными или банковской картой только при получении товара</p>
</div>
